footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: black;
  background-image: url("../imgs/Puerto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.footer-content {
  margin: 0 auto;
}
