.image-section {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: "Allura";
  }
}

.image-section-pages {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  h1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: "Allura";
  }
}
